<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <br /><br /><br />
    <form method="post" action="/<%=(product)?'update-product':'add-product'%>">
        <input type="text" class="form-control" name="id" value="<%=product?product._id:''%>" placeholder="Prodcut name">
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" name="name" value="<%=product?product.name:''%>" placeholder="Prodcut name">
        </div>
        <div class="form-group">
            <label for="price">price</label>
            <input type="text" class="form-control" name="price" value="<%=product?product.price:''%>" placeholder="Prodcut price">
        </div>
        <div class="form-group">
            <label for="imui">imui</label>
            <input type="text" class="form-control" name="imui" value="<%=product?product.imui:''%>" placeholder="Prodcut imui">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sucess">Submit</button>
        </div>
    </form>

</body>

</html>